@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,800;1,300;1,400&display=swap');
body{
    background-color: #222220;


    font-family: 'Montserrat', sans-serif;

}

main {

    text-align: center;
    margin: auto;
    padding: 10px;
    width: 50%;
    color: black;
    box-shadow:
    0.2px 3.2px 1.9px rgba(0, 0, 0, 0.055),
    0.4px 7.3px 4.3px rgba(0, 0, 0, 0.08),
    0.6px 12.7px 7.4px rgba(0, 0, 0, 0.099),
    1px 20.2px 11.8px rgba(0, 0, 0, 0.115),
    1.5px 31.1px 18.2px rgba(0, 0, 0, 0.131),
    2.4px 48.5px 28.3px rgba(0, 0, 0, 0.15),
    4px 80.6px 47px rgba(0, 0, 0, 0.175),
    8px 161px 94px #82c9cf46
  ;
  
background-color: #82C9CF;

}
input {
    border:none;
    border-bottom: 2px solid #3897a0d8;
    padding: 5px 10px;
    outline: none;
    text-align: start;

    background-color: #FFFFFF;

 


 }

input::placeholder{
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;


}

input:focus {
    border-bottom: 2px solid #DE1678;
    box-shadow: 1px 1px 5px #DE1678;
}

h1{
    text-align: center;
    font-size: 15pt;
    font-weight: 500;
}

.cadbtt{
    background-color: #DE1678;
    border: 0;
    color: white;
    font-size: 15pt;
    padding: 10px 20px;
    border-radius: 20px;
    display: block;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    transition: ease-in-out 0.5s;

}
button:hover{
    border-radius: 60px;
    box-shadow: 2px 1px 10px #DE1678; ;
    transition: ease-in-out 0.5s;

}

p,a{
    text-align: start;
    font-size: 11pt;
    text-decoration: none;
}

a{
    color: #DE1678;
    font-weight: bold
}

